.main-body {
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-height: 100vh;
    height: 100vh;
    overflow-y: auto;
}
body {
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;
    backdrop-filter: grayscale(100%) opacity(10%);
    max-height: 100vh;
    overflow-y: hidden;
}
#showslide{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10000;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    opacity: 0.0;
}